/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './custom-components.css'; // added
@import 'tailwindcss/utilities';
@import './custom-utilities.css'; // added

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex:1
}
input{
    border:1px solid lightgray;
    padding: 20px;
    
}
// input:focus{
//     border-width: 0;
//     background-color: lightgray;
// }