<div>
    <h2>User Information</h2>
    <hr />
    <Form class="register-user-container" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-input">
            <label for="firstName">First Name*</label>
            <input type="text" placeholder="First Name" formControlName="firstName" />
            <span class="form-input-error"
                *ngIf="userForm.get('firstName').invalid && userForm.get('firstName').touched">First Name is required
                Field</span>
        </div>
        <div class="form-input">
            <label for="firstName">Last Name*</label>
            <input type="text" placeholder="Last Name" formControlName="lastName" />
            <span class="form-input-error"
                *ngIf="userForm.get('lastName').invalid && userForm.get('lastName').touched">Last Name is required
                Field</span>

        </div>
        <div class="form-input">
            <label for="firstName">Phone*</label>
            <input type="text" placeholder="Phone" formControlName="phone" />
            <span class="form-input-error" *ngIf="userForm.get('phone').invalid && userForm.get('phone').touched">Phone
                is required Field</span>
        </div>
        <div class="form-input">
            <label for="email">Email*</label>
            <input type="email" placeholder="email" formControlName="email" />
            <span class="form-input-error" *ngIf="userForm.get('email').invalid && userForm.get('email').touched">
                <span *ngIf="userForm.get('email').errors['required']">
                    Email is required Field
                </span>
                <span *ngIf="userForm.get('email').errors['email']">
                    Invaid Email
                </span>
            </span>
        </div>
        <div class="form-input">
            <label for="ext">Ext*</label>
            <input type="text" placeholder="ext" formControlName="ext" />
        </div>
        <pre>{{userForm.value | json }}</pre>
        <pre>{{userForm.get('email').errors | json}}</pre>
        <button type='submit'>Submit</button>
    </Form>

</div>